doctype html
html(lang='en')
  head
    title socket light
  body
    h1 light!
      form
        label
          strong color
          input(type='color')#color

    script(src='/socket.io/socket.io.js')
    script(src='main.js')
