doctype html
html(lang='en')
  head
    title socket light
    style.
      input[type=color] {
        display: block;
        width: 640px;
        height: 50px;
      }
      form {
        width: 640px;
        margin: 0 auto;
      }
  body
    form
      label
        input(type='color')#color
      video#cam
      img#camOutputImg
      #cam-average-color


    script(src='/socket.io/socket.io.js')
    script(src='main.js')
